
.m103_1_W_2 span {display: none;} 
.m103_1_W_2:after {content: '6.456 KW';}
.m103_1_W_3 span {display: none;} 
.m103_1_W_3:after {content: '8.804 KW';}
.m103_1_W_t span {display: none;} 
.m103_1_W_t:after {content: '15.260 KW';}
.m64061_1_DayWH_2 span {display: none;} 
.m64061_1_DayWH_2:after {content: '24.314 KWh';}
.m64061_1_DayWH_3 span {display: none;} 
.m64061_1_DayWH_3:after {content: '44.364 KWh';}
.m64061_1_DayWH_t span {display: none;} 
.m64061_1_DayWH_t:after {content: '68.678 KWh';}
.m64061_1_WeekWH_2 span {display: none;} 
.m64061_1_WeekWH_2:after {content: '190.214 KWh';}
.m64061_1_WeekWH_3 span {display: none;} 
.m64061_1_WeekWH_3:after {content: '278.964 KWh';}
.m64061_1_WeekWH_t span {display: none;} 
.m64061_1_WeekWH_t:after {content: '469.178 KWh';}
.m64061_1_MonthWH_2 span {display: none;} 
.m64061_1_MonthWH_2:after {content: '457.714 KWh';}
.m64061_1_MonthWH_3 span {display: none;} 
.m64061_1_MonthWH_3:after {content: '648.864 KWh';}
.m64061_1_MonthWH_t span {display: none;} 
.m64061_1_MonthWH_t:after {content: '1.106578 MWh';}
.m64061_1_YearWH_2 span {display: none;} 
.m64061_1_YearWH_2:after {content: '6.267260 MWh';}
.m64061_1_YearWH_3 span {display: none;} 
.m64061_1_YearWH_3:after {content: '9.058760 MWh';}
.m64061_1_YearWH_t span {display: none;} 
.m64061_1_YearWH_t:after {content: '15.326020 MWh';}
.m103_1_WH_2 span {display: none;} 
.m103_1_WH_2:after {content: '37.901600 MWh';}
.m103_1_WH_3 span {display: none;} 
.m103_1_WH_3:after {content: '25.344600 MWh';}
.m103_1_WH_t span {display: none;} 
.m103_1_WH_t:after {content: '63.246200 MWh';}